@INCLUDE conf/apache.conf
@INCLUDE conf/nginx.conf
@INCLUDE conf/postfix.conf
@INCLUDE conf/dovecot.conf
@INCLUDE conf/secure.conf


[SERVICE]
    flush        1
    daemon       Off
    log_level    info

    parsers_file parsers.conf
    parsers_file parsers/dovecot.parser.conf
    parsers_file parsers/postfix.parser.conf
    parsers_file parsers/nginx.parser.conf
    parsers_file parsers/apache.parser.conf
    parsers_file parsers/secure.parser.conf
    plugins_file plugins.conf

    storage.metrics on

[FILTER]
    Name        modify
    Match       *
    Add         server  {{ inventory_hostname }}

[OUTPUT]
    Name              opensearch
    Match             apache.access*
    Host              {{ fluentbit_opensearch_api_domain}}
    Port              {{ fluentbit_opensearch_api_port }}
    HTTP_User         fluentbit
    HTTP_Passwd       {{ fluentbit_opensearch_password }}
    Suppress_Type_Name   On
    Index             apache.access-%Y.%m.%d
    TLS               On
    tls.verify        Off

[OUTPUT]
    Name              opensearch
    Match             apache.error
    Host              {{ fluentbit_opensearch_api_domain}}
    Port              {{ fluentbit_opensearch_api_port }}
    HTTP_User         fluentbit
    HTTP_Passwd       {{ fluentbit_opensearch_password }}
    Suppress_Type_Name   On
    Index             apache.error-%Y.%m.%d
    TLS               On
    tls.verify        Off

[OUTPUT]
    Name              opensearch
    Match             proxy.access*
    Host              {{ fluentbit_opensearch_api_domain}}
    Port              {{ fluentbit_opensearch_api_port }}
    HTTP_User         {{ fluentbit_opensearch_user }}
    HTTP_Passwd       {{ fluentbit_opensearch_password }}
    Suppress_Type_Name   On
    Index             proxy.access-%Y.%m.%d
    TLS               On
    tls.verify        Off

[OUTPUT]
    Name              opensearch
    Match             proxy.error
    Host              {{ fluentbit_opensearch_api_domain}}
    Port              {{ fluentbit_opensearch_api_port }}
    HTTP_User         fluentbit
    HTTP_Passwd       {{ fluentbit_opensearch_password }}
    Suppress_Type_Name   On
    Index             proxy.error-%Y.%m.%d
    TLS               On
    tls.verify        Off

[OUTPUT]
    Name              opensearch
    Match             postfix.send
    Host              {{ fluentbit_opensearch_api_domain}}
    Port              {{ fluentbit_opensearch_api_port }}
    HTTP_User         fluentbit
    HTTP_Passwd       {{ fluentbit_opensearch_password }}
    Suppress_Type_Name   On
    Index             postfix.send-%Y.%m.%d
    TLS               On
    tls.verify        Off

[OUTPUT]
    Name              opensearch
    Match             dovecot
    Host              {{ fluentbit_opensearch_api_domain}}
    Port              {{ fluentbit_opensearch_api_port }}
    HTTP_User         fluentbit
    HTTP_Passwd       {{ fluentbit_opensearch_password }}
    Suppress_Type_Name   On
    Index             dovecot-%Y.%m.%d
    TLS               On
    tls.verify        Off


[OUTPUT]
    Name              opensearch
    Match             postfix.auth
    Host              {{ fluentbit_opensearch_api_domain}}
    Port              {{ fluentbit_opensearch_api_port }}
    HTTP_User         fluentbit
    HTTP_Passwd       {{ fluentbit_opensearch_password }}
    Suppress_Type_Name   On
    Index             postfix.auth-%Y.%m.%d
    TLS               On
    tls.verify        Off


[OUTPUT]
    Name              opensearch
    Match             secure.sshd
    Host              {{ fluentbit_opensearch_api_domain}}
    Port              {{ fluentbit_opensearch_api_port }}
    HTTP_User         fluentbit
    HTTP_Passwd       {{ fluentbit_opensearch_password }}
    Suppress_Type_Name   On
    Index             secure.sshd-%Y.%m.%d
    TLS               On
    tls.verify        Off

#[OUTPUT]
#    Name   stdout
#    Match  *
#    Format json_lines
